table {
  width: 100%;
  text-align: justify;

  th.mat-sort-header-sorted {
    color: black;
  }

  tr.detail-row {
    height: 0;
  }

  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }

  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
  }
}

.mat-form-field {
  font-size: 1rem;
  width: 100%;
}
