mat-toolbar {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#logo {
  padding-top: 0.6rem;
}

.navbar-items {
  margin-left: 2rem;
  width: 100%;
}

a span {
  padding-left: 0.3rem;
  font-size: 1.05rem;
}
